



//bigger devices:
@media (min-width: 600px) {
    .App {
        width: 80vw;
    .hello {
        .title {
            font-size: 45px;
        }
        p {
            font-size: 18px;
            max-width: 450px;
        }
    }
    .choice {
        p {
            font-size: 20px;
        }
        button {
            font-size: 16px;
        }
    }
}
}

//desktops:
@media (min-width: 900px) {
    .App {
        width: 60vw;
        margin: 20px auto;
    .hello {
        .title {
            font-size: 50px;
        }
        p {
            font-size: 20px;
            max-width: 500px;
        }
    }
    .choice {
        button {
            font-size: 18px;
        }
    }
}
}

