@mixin questionStyle {
    padding: $standard*2;
    border-radius: $standard;
    background-color: $green;
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}