@mixin questionStyle {
    padding: $standard*2;
    border-radius: $standard;
    background-color:rgb(204, 102, 161);
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin btn-standard {
        background-color: $black;
        border: 2px solid whitesmoke;
        color: whitesmoke;
}
@mixin btn-hover {
    box-shadow: $smolglow;
    background-color: whitesmoke;
    color: $black;
}