// colors:
$purple: #302161;
$green: #147570;
$pink: #d69393;
$pinkier: #ac415a;
$background: #eee4e4;

//margins and paddings:
$standard: 10px;
$primaryfont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
