* {
    transition: .5s;
}

body {
    font-family: $primaryfont;
    background-color: $black;
    color: whitesmoke;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

label {
    font-size: 20px;
    font-weight: bold;
}

// 

input {  
    margin-left: $standard;
	border:0;
	padding:0;
	display: inline-block;
	vertical-align: middle;
	white-space:normal;
	background: $background;
	line-height: $standard*2;
}

.hidden {
    display: none;
}