* {
    transition: .5s;
}

body {
    font-family: $primaryfont;
    background-color: $black;
    color: whitesmoke;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: $primaryfont;
    cursor: pointer;
}
// 

.hidden {
    display: none;
}