// .buttons-choice {
    //at this point not sure if that class is worth keeping
// }

.choice {
    @include column;
    height: 20vh;
   
    p {
        font-size: 18px;
    }
    button {
        font-size: 14px;
        @include btn-standard;
    }
    button:hover {
        @include btn-hover;
    }
}

.cat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
// .short-field {
    
// }

// .long-field {
//     height: 40vh;
// }
