// .buttons-choice {
//     // border:s 1px solid green;
//     // height: 50%;
// }

.choice {
    background-color: $pink;
    border-radius: $standard;
    color: $purple;
    padding: $standard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid blue;
}

.cat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.short-field {
    height: 15vh;
}

.long-field {
    height: 40vh;
}

.hidden-button {
    display: none;
}