.finished {
    height: 100%;
    width: 100%;
    animation: finish 1.5s ease-in forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2, h3, p, button {
        margin: $standard $standard $standard*4;
    }
    h2 {
        font-family: $title-font;
        letter-spacing: 2px;
    }
    h3, p {
        text-align: center;
    }
    h3 {
        font-size: 20px;
    }

    
    button {
        @include btn-standard;
        font-size: 18px;
        &:hover {
            @include btn-hover
        }
    }

}

@keyframes finish {
    0% { margin-top: -100%;}
    50% {margin-top: 0%;}
}