.game-container {
    border: 2px solid pink;
    // border-radius: $standard;
    height: 100%;
    width: 90%;
    overflow: hidden;
    // animation: start 1s ease-in forwards;
}

@keyframes start {
    0% {width: 0; margin: auto;}
    100% {width: 90%;}
  }

//btn musi zostać przylutowany na stałe do ramki, pewnie
//jako after? to jeszcze przede mną
.btn-reset {
    position: relative;
    bottom: -50px;
    float: right;
    z-index: 4;
}