.game-container {
    height: 100%;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
}


//btn musi zostać przylutowany na stałe do ramki, pewnie
//jako after? to jeszcze przede mną
.btn-reset {
    position: relative;
    bottom: -50px;
    float: right;
    z-index: 4;
}