.game-container {
    // border: 2px solid $pink;
    // border-radius: $standard;
    height: 100%;
    width: 90%;
    overflow: hidden;
    padding-top: $standard;

    
}

//btn musi zostać przylutowany na stałe do ramki, pewnie
//jako after? to jeszcze przede mną
.btn-reset {
    position: relative;
    bottom: -50px;
    float: right;
    z-index: 4;
}