.App {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    //czy background jest konieczny?
    //do zmiany na whitesmoke pod koniec
    background-color: $background;
}


