.question-container {
  margin: $standard 0;
  // border: 1px solid black;
  height: 70%;
    
}

.questions {
    // background-color: $pinkier;
    border-radius: $standard;
}

.singlequest {
    @include questionStyle;
    height: 80px;
    width: 100%;
    animation: anime .5s ease-in forwards;
  }
  @keyframes anime {
    0% {margin-left: 100%; }
    100% {margin-left: 0%; }
  }


