@import 'scss-config/reset';
@import 'scss-config/variables';

@import 'scss-elements/hello.scss';

@import 'scss-layout/button.scss';

.game {
  background-color: $primary-bckgrnd;
}

.hidden {
  display: none;
}


.singleQuest {
  height: 80px;
  padding: 20px;
  margin: 10px;
  border: 1px dotted green;
  background-color: plum;
  /* display: flex;
  flex-direction: column; */
  animation: anime 2s ease-in forwards;
}
@keyframes anime {
  0% {margin-left: 100%; background-color: black; color: black}
  50% {margin-left: 0%; background-color: plum; color: plum}
  55% {color: black}
}

.questions {
  display: flex;
}
.component {
    padding: 10px;
    margin: 20px;
    border: 1px solid blue;
  }
  
  #choice {
    border: 1px solid pink;
  }
  
  body {
    background-color: azure;
  }
